#a1
{   font-weight: bold;
    color: rgb(207, 86, 86); 
}
#logo{
    height:70px;
    width: 70px;
    border-radius: 50%;
}
.hi{
    font-size: larger;
    font-weight: bolder;
    color: brown;
}
.carousel-item{
    height: 500px;
} 
.carousel-item img{
    height: 500px;
}
#search{
    position: relative;
    background-color: rgb(255, 255, 255);
            background-image: 'D:\vvs code\fsd project\download (4).jpg';

            box-sizing: border-box;
            padding-left: 40px;
            border: 2px solid #ccc;
            border-radius: 30px;
            font-size: 16px;
            /* background-position: 10px 10px; 
            background-repeat: no-repeat; */
            padding: 12px 100px;
}
#searchicon{
    position: absolute;
    bottom: 25px;
    left: 800px;
    height: 40px;
    width: 45px;
}
#f1{
    /* text-shadow: 0 0 5px #160f0f, 0 0 5px #010113; */
        color: rgb(238, 237, 237);
        font-weight: bold;
        font-size: 80px;
        font-family: Arial, Helvetica, sans-serif;
}
#f2{
    text-shadow:black;
    /* text-shadow: 0 0 5px #160f0f, 0 0 5px #010113; */
        color: rgb(145, 51, 51);
        font-weight: bold;
        font-size: 70px;
        font-family:Arial, Helvetica, sans-serif;
}
#f3{
     text-shadow: 0 0 5px #160f0f, 0 0 5px #010113; 
        color: rgb(255, 255, 255);
        font-weight: bold;
        font-size:60px;
        font-family: Arial, Helvetica, sans-serif;
}

.carousel-inner .carousel-item {
    position: relative;
    transition-delay: 0.5s;
    transition: 0.5s;
}
#quote{
    height: 750px;
    background-color: rgb(245, 131, 150);
    position: relative;
}
#button1{
    position: absolute;
    top:500px ;
    right: 270px ;
    border-radius: 8px;
    font-weight: bold;
    font-size: 20px;
    padding: 12px 28px;
    color:  rgb(245, 131, 150);
    background-color: rgb(153, 23, 45);
    transition: font-size 0.5s ;
    border: none;
}
#button1:hover{
   font-size: 25px;
}

#pre1{
    position: absolute;
    right:130px;
    top: 190px ;
    color: rgb(153, 23, 45);
    font-size: 60px;
    font-weight: bolder;
    font-family:Arial, Helvetica, sans-serif;
}
#pre2{
    position: absolute;
    float: right;
    color: rgb(153, 23, 45);
    right:100px;
    top: 370px ;
    font-size:24px;
    font-family:Arial, Helvetica, sans-serif;
}
#save{
    height: 750px;
    background-color: rgb(12, 77, 12);
    position: relative;   
}
#pre3{
    position: absolute;
    font-size: 60px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    left: 35px;
    top: 300px;
    color: aliceblue;
}
#pre4{
    position: absolute;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    left: 50px;
    top: 390px;
    color: aliceblue;
}
#i1{
    position: absolute; 
    top: 20px;
    right: 400px;
    height: 400px;
    width:350px;
    border-radius: 15%;
    transition: transform 0.5s;
}
#i1:hover{ 
    transform: scale(0.9,0.9);
}
#i2{
    position: absolute;
    right: 75px;
    top:100px;
    height: 200px;
    width:300px;
    border-radius: 15%;
    transition: transform 0.5s;
}
#i2:hover{ 
    transform: scale(0.9,0.9);
}
#i3{
    position: absolute;
    height: 400px;
    width:300px;
    top:320px;
    right:75px;
    border-radius: 15%;
    transition: transform 0.5s;
}
#i3:hover{
    transform: scale(0.9,0.9);
}
#i4{
    position: absolute;
    height: 250px;
    width:350px;
    top:450px;
    right:400px;
    border-radius: 15%;
    transition: transform 0.5s;
}
#i4:hover{ 
    transform: scale(0.9,0.9);
}
#button2{
    position: absolute;
    top:500px ;
    left: 200px ;
    border-radius: 8px;
    font-weight: bold;
    font-size: 20px;
    padding: 12px 28px;;
    color: rgb(12, 77, 12);
    background-color: aliceblue;
    transition: font-size 0.5s ;
    border: none;
}
#button2:hover{
   font-size: 25px;
}
#signup{
    position: relative;
    height: 750px;
    background-color: blue;
}
#lasttxt{
    position: absolute;
    top: 200px;
    font-style: italic;
    text-shadow: #010113;
    font-weight:  bolder;
    left: 100px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 100px;
}
#lastimg{
    width: 100%;
    height: 750px;
}
#formdiv{
    position: absolute;
    top: 60px;
    right: 100px;
    height:650px;
    width:500px;
    background-color: white;
    border-radius: 15%;
}
#p1{
    position: absolute;
    font-size: 25px;
    right: 120px;
    top:10px;

}
#p2{
    position: absolute;
    right:180px;
    font-size: 15px;
    top:50px;

}
form{
    position: absolute;
    right:130px;
    font-size: 20px;
    top:150px;
    

}
.f1{
    box-sizing: border-box;
    padding: 5px 15px;
    border-radius: 7px;
}